$colorGreen: #3cb4ac;
$hoverGreen: #147b74;
$brColor: #f2f2f2;
$white: #ffffff;
$black: #000000;
$gray: #7a7a7a;
$lightGray: #c3c2c2;
$hrColor: rgba(150, 145, 145, 0.281);
$cursor: url('/images/pointer.png'), pointer;

:root {
    --progress-bar: 79%;
}
